:root {
  --primary-color: #4ea890;
  --primary-color-hover: #428f7a;
  --train-bg-color: #f7f0f0;
  --bg-color: #f3f3f3;
  --bg-total: #001747;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header {
  padding: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  transition: color 0.2s;
  &:hover {
    color: var(--primary-color-hover);
  }
}
header nav {
  display: flex;
  gap: 20px;
}
header nav a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: var(--primary-color);
  }
}

main {
  min-height: calc(100vh - 70px);
  min-height: calc(100vh - 70px);
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.container {
  max-width: 1100px;
  width: 96%;
  background-color: #fff;
  border-radius: 4px;
}
.container#empty {
  padding: 20px 0;
}
.container > p {
  text-align: center;
}

.elements {
  display: flex;
  align-items: center;
  background-color: var(--train-bg-color);
  justify-content: space-between;
  padding: 0 8px;
  width: 80%;
  margin: auto;
  border-radius: 4px;
  margin-bottom: 12px;
}
.elements .remove {
  background-color: var(--primary-color);
  border: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--primary-color-hover);
    border: var(--primary-color-hover);
  }
}

#total {
  background-color: var(--bg-total);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px 70px;
  border-radius: 0 0 4px 4px;
}
#purchase {
  background-color: var(--primary-color);
  border: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--primary-color-hover);
    border: var(--primary-color-hover);
  }
}
