#container {display:grid;
    border: 1px crimson solid;
    height: 100vh;
    grid-template-rows: repeat(  12,1fr);
    grid-template-columns: repeat(12 , 1fr);


}

#header {grid-row: 1 / 3;
    grid-column: 1 / 13;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: left;
}
