body{
    margin: 0%;
    padding: 0%;
}

#container {display:grid;
    height: 100vh 100vw;
    grid-template-rows: repeat(  11,1fr);
    grid-template-columns: repeat(12 , 1fr);


}

#header {grid-row: 1 / 2;
    grid-column: 1/ 13;
    background-color: white;
    display: flex;
    justify-content: left;
    align: items 20px; ;
}
#title-header {color: #4ea891;

}
#main {grid-row: 2 / 12;
    grid-column: 1 / 13;
    background-image:url("./images/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    f
}
#title-main {
    color: white;
    font-family: Times-New-Romance;
}
#text {
    color: aliceblue;
}
    
#menus {display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
    margin-top: 20px;
    justify-content: center;
}
#menu-1 {width: 288px;
    height: 318px;
    border-radius: 10px;
    background-color: white;
}
#menu-2 {width: 288px;
    height: 318px;
    border-radius: 10px;
    background-color: white;
    background-image:url("./images/train.png");
    display: flex;
    background-size:cover;
}